<div class="registration-wrap">
  <form class="registration-form" [formGroup]="registrationForm">
    <h1>Registration form</h1>

    <div class="input-box name-content">
      <label for="name">Name: </label>

      <div class="input-text-container">
        <img class="account-icon-image" src="../../assets/pics/account.svg" />
        <input type="text" id="name" formControlName="name"/>
      </div>
    </div>

    <div class="input-box username-content">
      <label for="username">Username: </label>

      <div class="input-text-container">
        <img class="account-icon-image" src="../../assets/pics/account.svg" />
        <input type="text" id="username" formControlName="userName"/>
      </div>
    </div>

    <div class="input-box email-content">
      <label for="email">Email: </label>

      <div class="input-text-container">
        <mat-icon class="icon">email</mat-icon> 
        <input type="text" id="email" formControlName="email"/>
      </div>
      <small class="error-message" *ngIf="formControls.email.touched && formControls.email.errors?.['wrongEmailFormat']">Nem megfelelő e-mail fromátum!</small>
    </div>

    <div class="input-box phone-content">
      <label for="phone">Phone: </label>

      <div class="input-text-container">
        <mat-icon class="icon phone-icon">phone</mat-icon> 
        <span class="num-prefix">+36/</span>
        <select id="select-phone-number">
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="70">70</option>
        </select>
        <input type="number" id="phone" formControlName="phone"
        (keydown)="preventInvalidCharacters($event)"/>
      </div>
      <small class="error-message" *ngIf="formControls.phone.touched && formControls.phone.errors?.['wrongNumber']">Nem megfelelő formátum!</small>
    </div>

    <div class="input-box password-content">
      <label for="password">Password: </label>

      <div class="input-text-container">
        <mat-icon class="icon">lock</mat-icon> 
        <input type="text" id="password" formControlName="password" />
      </div>
    </div>

    <div class="input-box confirm-password-content">
      <label for="confirm-password">Confirm password: </label>

      <div class="input-text-container">
        <mat-icon class="icon">lock</mat-icon> 
        <input type="text" id="confirm-password" formControlName="confirmPassword" />
      </div>
    </div>

    <div class="submit-button" (click)="onRegistration()" >SUBMIT<mat-icon class="send-icon">send</mat-icon></div>

    <div class="to-login">
      <small>Already have an account?</small>
      <p routerLink="/login">SIGN IN</p>
    </div>
  </form>
</div>




