<div class="registration-wrap">
  <form class="registration-form" [formGroup]="registrationForm">
    <h1>Registration form</h1>

    <div class="input-box name-content">
      <label for="name">Name: </label>

      <div class="input-text-container">
        <img class="account-icon-image" src="../../assets/pics/account.svg" />
        <input type="text" id="name" formControlName="name" />
      </div>
      <small class="error-message" *ngIf="formControls?.['name']?.errors?.['required'] && formControls?.['name']?.touched">Kötelező mező!</small>
    </div>

    <div class="input-box username-content">
      <label for="username">Username: </label>

      <div class="input-text-container">
        <img class="account-icon-image" src="../../assets/pics/account.svg" />
        <input type="text" id="username" formControlName="userName" />
      </div>
      <small class="error-message" *ngIf="formControls?.['userName']?.errors?.['maxlength']">A felhasználó név 10 karakternél nem lehet hosszabb!</small>
      <small class="error-message" *ngIf="formControls?.['userName']?.errors?.['required'] && formControls?.['userName']?.touched">Kötelező mező!</small>
    </div>

    <div class="input-box email-content">
      <label for="email">Email: </label>

      <div class="input-text-container">
        <mat-icon class="icon">email</mat-icon> 
        <input type="text" id="email" formControlName="email" />
      </div>
      <small class="error-message" *ngIf="formControls?.['email']?.touched &&  (!formControls?.['email']?.errors?.['required']) && formControls?.['email']?.errors?.['wrongEmailFormat']">Nem megfelelő formátum!</small>
      <small class="error-message" *ngIf="formControls?.['email']?.touched &&  (formControls?.['email']?.errors?.['required']) && formControls?.['email']?.errors?.['wrongEmailFormat']">Kötelező mező!</small>
    </div>

    <div class="input-box phone-content">
      <label for="phone">Phone: </label>

      <div class="input-text-container">
        <mat-icon class="icon phone-icon">phone</mat-icon> 
        <span class="num-prefix">+36/</span>
        <select id="select-phone-number" formControlName="dialingCode">
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="70">70</option>
        </select>
        <input type="number" id="phone" formControlName="phone"
        (keydown)="preventInvalidCharacters($event)"  placeholder="1234567"/>
      </div>
      <small class="error-message" *ngIf="formControls?.['phone']?.touched && formControls?.['phone']?.errors?.['wrongNumber']">Nem megfelelő formátum!</small>
    </div>

    <div class="input-box password-content">
      <label for="password">Password: </label>

      <div class="input-text-container">
        <mat-icon class="icon">lock</mat-icon> 
        <input type="text" id="password" formControlName="password"  />
      </div>
      <div class="error-messages">
        <small class="error-message" *ngIf="formControls?.['password']?.touched"> {{formControls['password'].errors && formControls['password'].errors['errorMessage']}} </small>

        <small class="error-message" *ngIf="formControls?.['password']?.touched && formControls?.['password']?.errors?.['required']">Kötelező mező!</small>
      </div>
    </div>


    <!-- CONFIRM PASSWORD -->
    <div class="input-box confirm-password-content">
      <label for="confirm-password">Confirm password: </label>

      <div class="input-text-container">
        <mat-icon class="icon">lock</mat-icon> 
        <input type="text" id="confirm-password" formControlName="confirmPassword" />
      </div>
      <small class="error-message" *ngIf="registrationForm.errors?.['passwordMismatch'] && formControls?.['confirmPassword']?.touched">Jelszó nem egyezik!</small>
    </div>
    
    <button class="submit-button" 
    [ngClass]="registrationForm.invalid ? 'invalid-button' : '' "
    (click)="onRegistration()"
    
    [disabled]="registrationForm.invalid"
    >
      SUBMIT<mat-icon class="send-icon">send</mat-icon>
    </button>

    <div class="to-login">
      <small>Already have an account?</small>
      <p routerLink="/login">SIGN IN</p>
    </div>
  </form>
</div>




