<div class="login-wrap">
  <form class="login-form" [formGroup]="loginForm">
    <h1>LOGIN FORM</h1>

    <div class="input-box username-content">
      <label for="email">Email: </label>

      <div class="input-text-container">
        <img class="account-icon-image" src="../../assets/pics/account.svg" />
        <input type="text" id="email" formControlName="email" />
      </div>
    </div>

    <div class="input-box password-content">
      <label for="password">Password: </label>

      <div class="input-text-container">
        <mat-icon class="icon">lock</mat-icon>
        <input type="text" id="password" formControlName="password" />
      </div>
    </div>


    <div class="submit-button">
      <div (click)="login()">LOGIN</div>
      <img class="account-icon-image arrow" src="../../assets/pics/arrow-right-thick.svg" />
    </div>
   

    <div class="to-registration">
      <small>Don't have an account yet?</small>
      <p routerLink="/registration">SIGN UP</p>
    </div>
  </form>
</div>
